$theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );
@import "bootstrap";
@import "trix";

// App sections
@import "application/breadcrumb";
@import "application/example";
@import "application/flash";
@import "application/footer";
@import "application/header";
@import "application/jumbotron";

@import "bootstrap";
// @import "summernote-bs4";
// @import "summernote-custom-theme.min";
// @import "codemirror/themes/solarized";


@import "codemirror";
@import "summernote";
@import "codemirror/themes/solarized";


// Components
@import "components/alert";
@import "components/icon";

// Syntax highlight
// @import "dracula/pygments/dracula";

// simple_form helpers
@import "simple_form-bootstrap/simple_form-bootstrap";

@import "datatables";


.T_color {
  background-color: #90EC91;
}

.P_color {
  background-color: #90A0EC;
}

.B_color {
  background-color: #FC8065;
}

.T_dot {
  height: 20px;
  width: 20px;
  background-color: #dcf442;
  border-radius: 50%;
  display: inline-block;
}



.B_dot {
  height: 20px;
  width: 20px;
  background-color: #ff1a1a;
  border-radius: 50%;
  display: inline-block;
}

.P_dot {
  height: 20px;
  width: 20px;
  background-color: #0039e6;
  border-radius: 50%;
  display: inline-block;
}
